<% include ../../partials/head.ejs %>
<link rel="stylesheet" type="text/css" href="/checkout/css/style.css">
<link rel="stylesheet" type="text/css" href="/checkout/css/checkout_responsive.css">
<% include ../../partials/header.ejs %>
<div class="super_container_inner">
	<div class="super_overlay"></div>

	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_title">THANH TOÁN</div>
		</div>
	</div>

	<!-- Checkout -->

	<div class="checkout">
		<div class="container">
			<form action="/place-order" id="checkout_form" class="checkout_form" method="POST">
				<div class="row">
					<!-- Billing -->
					<div class="col-lg-6">
						<div class="billing">
							<div class="checkout_title">Hóa đơn</div>
							<div class="checkout_form_container">

								<div>
									<input type="text" id="checkout_name" class="checkout_input" placeholder="Họ và tên"
										required name="name">
								</div>
								<div>
									<input type="tel" id="checkout_phone" class="checkout_input" pattern="[0-9]{10}"
										placeholder="Số điện thoại" required name="phone">
								</div>
								<div>
									<input type="text" id="checkout_address" class="checkout_input"
										placeholder="Địa chỉ" required name="address">
								</div>
								<div>
									<textarea type="text" id="checkout_note" class="checkout_input"
										placeholder="Ghi chú" form="checkout_form" name="note"></textarea>
								</div>

							</div>
						</div>
					</div>

					<!-- Cart Total -->
					<div class="col-lg-6 cart_col">
						<div class="cart_total">
							<div class="cart_extra_content cart_extra_total">
								<div class="checkout_title">Tổng tiền giỏ hàng</div>
								<ul class="cart_extra_total_list">
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Tạm tính</div>
										<div class="cart_extra_total_value ml-auto"><%=totalPrice%> VND</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Phí vận chuyển</div>
										<div class="cart_extra_total_value ml-auto">Miễn phí</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Thành tiền</div>
										<div class="cart_extra_total_value ml-auto"><%=totalPrice%> VND</div>
									</li>
								</ul>
								<button type="submit" class="checkout_button trans_200">
									<a>tiến hành thanh toán</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="/checkout/js/jquery-3.2.1.min.js"></script>
<script src="/cart/css/bootstrap-4.1.2/popper.js"></script>
<script src="/cart/css/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="/cart/plugins/greensock/TweenMax.min.js"></script>
<script src="/cart/plugins/greensock/TimelineMax.min.js"></script>
<script src="/cart/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/cart/plugins/greensock/animation.gsap.min.js"></script>
<script src="/cart/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/cart/plugins/easing/easing.js"></script>
<script src="/cart/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/checkout/js/checkout.js"></script>
<% include ../../partials/footer.ejs %>