    <footer class="footer">
        <div class="footer_content row">
            <div class="col-lg-8" >
                <div class="row">
                    <div class="col-lg-4 f1" >
                        <p class="ftitle" ><strong>CẦN GIÚP ĐỠ?</strong></p>
                        <p>Giờ mở cửa<br><strong>09:30 - 20:30</strong>&nbsp;&nbsp;&nbsp;Thứ hai đến thứ bảy<br><strong>12:30 - 20:30</strong>&nbsp;&nbsp;&nbsp;Chủ nhật<br>Ngày lễ nghỉ</p>
                    </div>
                    <div class="col-lg-4 f1" >
                        <p class="ftitle"><strong>CỬA HÀNG</strong></p>
                        <p><strong>TP HCM</strong>&nbsp;(Cửa hàng chính)<br>123 Phạm Văn Đồng, quận Thủ Đức</p>
                    </div>
                    <div class="col-lg-4 f1">
                        <p class="ftitle"><strong>LIÊN KẾT NHANH</strong></p>
                        <ul>
                            <li>
                                <a href="#"><div>Home</div></a>
                                <a href="#"><div>Store</div></a>
                                <a href="#"><div>About</div></a>
                                <a href="#"><div>Blog</div></a>
                            </li>
                        </ul>						
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 f2" >
                        <p class="ftitle"><strong>HOTLINE 123.123.123</strong></p>
                        <div class="row">
                            <div class="col-lg-5">
                                <ul>
                                    <li>
                                        <div class="services">
                                            <img src="templatefooter/images/order.png">
                                            <span>Tình trạng đơn hàng</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="services">
                                            <img src="templatefooter/images/return.png">
                                            <span>Chính sách đổi trả</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="services">
                                            <img src="templatefooter/images/info.png">
                                            <span>Hướng dẫn mua hàng</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5">
                                <ul>
                                    <li>
                                        <div class="services">
                                            <img src="templatefooter/images/delivery-truck.png">
                                            <span>Vận chuyển</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="services">
                                            <img src="templatefooter/images/question-mark.png">
                                            <span>Câu hỏi thường gặp</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="services">
                                            <img src="templatefooter/images/letter.png">
                                            <span>Gửi yêu cầu hỗ trợ</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 f2"  >
                        <div>
                            <p><strong>Các chi nhánh khác trên khắp cả nước</strong></p>
                            <p>Hà Nội<br>Đà Lạt<br>Thái Nguyên</p>								
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="newsletter">
                <div id="newsletter-container">
                    <p id="newsletter-title">NHẬN BẢN TIN<br><strong>CỦA CHÚNG TÔI</strong></p>
                    <form class="form-inline" >							
                        <input type="email" class="form-control" id="newsletter-email" placeholder="Email">								
                        <button type="submit" class="btn btn-dark" id="btn-email">ĐĂNG KÝ</button>
                    </form>
                    <ul class="footer_social_list d-flex flex-row align-items-start justify-content-center">
                        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="footer_bar row">
            <div class="col-lg-2">					
                <span id="fb-store-name">Floral</span>
            </div>
        <div class="col-lg-6" id="copyright">
            <span>© 2018  <strong> PTy Ltd. </strong>Terms | Privacy</span>	
        </div>				
        <div class="col-lg-4">
            <div id="fb-card">
                <img src="templatefooter/images/visa.png"/>
                <img src="templatefooter/images/mastercard.png">
                <img src="templatefooter/images/cash-logo.png">
            <img src="templatefooter/images/napas-logo.png">
        </div>
    </div>
    </div>
    </footer>
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>


</html>