<!-- views/partials/header.ejs -->
<!-- Header -->
</head>

<body>
    <div>
        <div class='main-back-to-top'><span class='mlkicon-Up icon-Up'></span></div>
        <div class='mainhead-container mlk-mainhead-container'>
            <div class='mainhead-inner' id='mainhead-inner'>
                <div class='container clearfix mainhead-wrapper'>
                    <div class='mainhead'>
                        <!-- Main-Head navabar-left -->
                        <div class='mainhead-nav-left'>
                            <div class='tabs-gender tabs-active'><a href="/list-product/0" class='headnavleft__item'>SẢN PHẨM</a></div>
                            <div class='tabs-gender'><a href="" class='headnavleft__item'>LIÊN HỆ</a></div>
                            <div class='tabs-gender'><a href="" class='headnavleft__item'>BLOG</a></div>
                        </div>
                        <!-- Logo -->
                        <a href="/" class='mainhead-logo-wrap'>
                            <div class='mainhead-logo'></div>
                        </a>
                        <!-- cart icon -->
                        <div class='mainhead-nav'>

                            <div class='mainhead-cart'>
                                <a href="/cart">
                                    <span class='rxico-cart mlkicon-Cart'></span>
                                    <span class='mainhead-cart-number'>1</span>
                                </a>
                            </div>
                            <!-- Love icon -->
                            <div class='mainhead-wishlist'>
                                <a href="">
                                    <div class='rxico-wishlist mlkicon-Heart'></div>
                                    <div class='rxshow-l'><span class='mainhead-favorite-number'>1</span> </div>
                                </a>
                            </div>
                            <!-- user icon -->
                            <div class='mainhead-account'>
                                <a href="/edit-profile" class='mainhead-account-login'>
                                    <div class='rxico-account mlkicon-Profile'></div>
                                </a>                                
                            </div>
                            <!-- Search basic by name product -->
                            <div class='mainhead-search-btn'>
                                <div class='rxico-search mlkicon-Search'></div>
                                <!-- form search -->
                                <form method="POST" action="/search" id="myForm">
                                    <div class='mainhead-search'>
                                        <div class='mainhead-search-box'>
                                            <input auto-focus tab-index='1' type='text' auto-complete='search' 
                                                name='inputSearch'
                                                id='inputSearch'
                                                placeholder='Hoa anh thảo' />
                                            <a href="">
                                                <div class='mainhead-search-button'><i class='icon-magnifier'></i></div>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-wrap rxmainnav-wrap" data-reactid="41">
            <div class="nav-wrap-hidden " data-reactid="42"></div>
            <div class="rxmainnav-toogle-user " data-reactid="43">
                <div class="rx-mobile-show mainhead-mainmenu " data-reactid="44">
                    <div class="tabs-gender-mobile rx-active" data-reactid="45"><a href="" data-reactid="46">Sản
                            phẩm</a></div>
                    <div class="tabs-gender-mobile" data-reactid="47"><a href="/contact" data-reactid="48">Liên hệ</a>
                    </div>
                    <div class="tabs-gender-mobile" data-reactid="49"><a href="/blog" data-reactid="50">Tin tức</a>
                    </div>
                </div>
                <div class="mainhead-account" data-reactid="51">
                    <div class="rxico-account icon-user" data-reactid="52"></div><a class="mainhead-account-login"
                        href="/login" data-reactid="53">
                        <!-- react-text: 54 -->Đăng nhập
                        <!-- /react-text --><i data-reactid="55">Khách hàng</i></a>
                </div>
                <div class="rxmainnav-toggle " data-reactid="56"><span class="mlkicon-Bar nav-icon rx-icon-Bar"
                        data-reactid="57"></span></div>
            </div>
            <!-- Multiple -->
            <div class="container mlk-wrapper " data-reactid="58">
                <nav class="nav-menu-nav " data-reactid="59">
                    <ul class="mlk-primary-nav  " data-reactid="60">
                        <!-- Categories1 -->
                        <%listCategory.forEach(function(category){ %>
                        <li class="nav-menu-item "><a class="nav-menu-item-hover "
                                href="/list-product/<%=category._id%>"><%=category.name%></a><span
                                class="btn-menu-right mlkicon-Right "></span>
                            <div>
                                <div class="dropdown-content ">
                                    <div class="mlk-goback"><span class="btn-menu-left mlkicon-Left"></span>
                                    </div>
                                    <div class="image-category">
                                        <div class="image-category-thumb"
                                            style="background-image: url('<%=category.image%>');">
                                        </div>
                                        <div class="image-category-title"><%=category.name%></div>
                                        <div class="image-category-link"><a href="">Shop Now</a></div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title" href="">Hoa hồng</a>
                                        <div>
                                            <div class="dropdown-child-content">
                                                <div><a class="mlk-nav-title-child" href="">Hoa hồng đỏ</a></div>
                                                <div><a class="mlk-nav-title-child" href="">Hoa hồng tím</a></div>
                                                <div><a class="mlk-nav-title-child" href="">Hoa hồng xanh</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title" href="">Hoa ly</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title" href="">Hoa cát tường</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                    <!-- Option languages: vi -->
                    <div class="nav-menu-lang" data-reactid="61"><span class="mlkicon-Vn" data-reactid="62"><span
                                class="path1" data-reactid="63"></span><span class="path2"
                                data-reactid="64"></span></span>VN(vnd)
                    </div>
                </nav>
            </div>
        </div>
        <!-- Sub header - bottom menu Categories -->
        <div class='container--shadow'>
            <div class='container'>
                <div class='rx-main-banner-inner'>
                    <div class='rx-safe-banner-content row'>
                        <div><span class='bansafe__icon mlkicon-Like'></span>100% sản phẩm <b>Chính hãng</b></div>
                        <div><span class='bansafe__icon mlkicon-Icon2'></span>Liên tục <b>Khuyến mãi</b></div>
                        <div><span class='bansafe__icon mlkicon-Icon3'></span>Tận tình <b>Tư vấn</b></div>
                        <div><span class='bansafe__icon mlkicon-Icon4'></span>Nhiều chính sách <b>Khách hàng VIP</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
    <script>
        var input = document.getElementById("inputSearch");
        input.addEventListener("keyup", function(event){
            if(event.keyCode === 13){//enter
                event.preventDefault();
                var currentVal = input.value;
                if(currentVal.length > 0)
                    $("#myForm").attr('action','/search?name=' +currentVal);
            }
        })
    </script>