<!-- views/partials/header.ejs -->
    <!-- Header -->
</head>

<body>
    <div>
        <div class='main-back-to-top'><span class='mlkicon-Up icon-Up'></span></div>
        <div class='mainhead-container mlk-mainhead-container'>
            <div class='mainhead-inner' id='mainhead-inner'>
                <div class='container clearfix mainhead-wrapper'>
                    <div class='mainhead'>
                        <!-- Main-Head navabar-left -->
                        <div class='mainhead-nav-left'>
                            <div class='tabs-gender tabs-active'><a href="/" class='headnavleft__item'>SẢN PHẨM</a></div>
                            <div class='tabs-gender'><a href="/contact" class='headnavleft__item'>LIÊN HỆ</a></div>
                            <div class='tabs-gender'><a href="" class='headnavleft__item'>BLOG</a></div>
                        </div>
                        <!-- Logo -->
                        <a href="/" class='mainhead-logo-wrap'>
                            <div class='mainhead-logo'>
                                <img src="/template/images/logo/logo.png" alt="Floral">
                            </div>
                        </a>
                        <!-- cart icon -->
                        <div class='mainhead-nav'>
                            
                            <div class='mainhead-cart'>
                                <a href="/cart">
                                    <span class='rxico-cart mlkicon-Cart'></span>
                                    <span class='mainhead-cart-number'>1</span>
                                <!-- <div class='mainhead-cart-popup'> -->
                                <!-- <div>
                              <div class='cart-popup-header'>Giỏ hàng có 5 sản phẩm</div>
                              <div class='cart-popup-body'>{tempCartDetail}</div>
                                                      <div style="padding: '15px'"> <a href="" ><div class='cart-popup-payment'>Đặt hàng</div></Link> </div>
                            </div> : <div>
                              <div class='cart-popup-header'>Giỏ hàng của bạn</div>
                              <div class='cart-popup-emptytext'>Giỏ hàng đang trống, Hãy tiếp tục lựa chọn sản phẩm</div>                            
                            </div>} -->
                                <!-- </div> } -->
                                </a>
                            </div>
                            <!-- Love icon -->
                            <div class='mainhead-wishlist'>
                                <a href="/love-product">
                                    <div class='rxico-wishlist mlkicon-Heart'></div>
                                    <div class='rxshow-l'><span class='mainhead-favorite-number'>1</span> </div>
                                </a>
                            </div>
                            <!-- user icon -->
                            <div class='mainhead-account'>
                                <a href="/login" class='mainhead-account-login'>
                                    <div class='rxico-account mlkicon-Profile'></div>
                                </a>
                                <!-- : <a href="" class='mainhead-account-login'><div class='rxico-account mlkicon-Profile'></div></Link> } -->
                            </div>
                            <div class='mainhead-search-btn'>
                                <div class='rxico-search mlkicon-Search'></div>

                                <div class='mainhead-search'>
                                    <div class='mainhead-search-box'>
                                        <input auto-focus tab-index='1' type='text' auto-complete='search' name='name'
                                            placeholder='Tìm kiếm ...' />
                                        <a href="">
                                            <div class='mainhead-search-button'><i class='icon-magnifier'></i></div>
                                        </a>
                                        <!-- <div class='mainhead-search-category'>
                                            <select class='select-search-category'>
                                                <option value='0'>Tất cả danh mục</option>
                                                {arrCategories.map((perdata,index) => <option key={index} value={perdata._id}>{perdata.name}</option>)}
                                            </select>
                                        </div> -->
                                    </div>
                                    <!-- <div class='mainhead-search-suggestion'>
                                        <div class='cart-popup-body'>{tempSearchDetail}</div>
                                        <div style="padding: '10px'"> <a href="">
                                                <div class='cart-popup-payment'>Xem tất cả</div>
                                            </a> </div>
                                    </div> : <div class='mainhead-search-suggestion'>
                                        <div class='cart-popup-emptytext'>Không tìm thấy kết quả nào phù hợp</div>
                                    </div>} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-wrap rxmainnav-wrap" data-reactid="41">
            <div class="nav-wrap-hidden " data-reactid="42"></div>
            <div class="rxmainnav-toogle-user " data-reactid="43">
                <div class="rx-mobile-show mainhead-mainmenu " data-reactid="44">
                    <div class="tabs-gender-mobile rx-active" data-reactid="45"><a href="/list-product"
                            data-reactid="46">Sản phẩm</a></div>
                    <div class="tabs-gender-mobile" data-reactid="47"><a href="/contact" data-reactid="48">Liên hệ</a>
                    </div>
                    <div class="tabs-gender-mobile" data-reactid="49"><a href="/news" data-reactid="50">Tin tức</a>
                    </div>
                </div>
                <div class="mainhead-account" data-reactid="51">
                    <div class="rxico-account icon-user" data-reactid="52"></div><a class="mainhead-account-login"
                        href="/login" data-reactid="53">
                        <!-- react-text: 54 -->Đăng nhập
                        <!-- /react-text --><i data-reactid="55">Khách hàng</i></a>
                </div>
                <div class="rxmainnav-toggle " data-reactid="56"><span class="mlkicon-Bar nav-icon rx-icon-Bar"
                        data-reactid="57"></span></div>
            </div>
            <!-- Multiple -->
            <div class="container mlk-wrapper " data-reactid="58">
                <nav class="nav-menu-nav " data-reactid="59">
                    <ul class="mlk-primary-nav  " data-reactid="60">
                        <!-- Categories1 -->
                        <li class="nav-menu-item "><a class="nav-menu-item-hover " href="">LOẠI 1 </a><span
                                class="btn-menu-right mlkicon-Right "></span>
                            <div>
                                <div class="dropdown-content ">
                                    <div class="mlk-goback"><span class="btn-menu-left mlkicon-Left"></span>
                                    </div>
                                    <div class="image-category">
                                        <div class="image-category-thumb"
                                            style="background-image: url('template/images/categories/categorie1.png');">
                                        </div>
                                        <div class="image-category-title">LOẠI 1 </div>
                                        <div class="image-category-link"><a href="/list-product">Shop Now</a></div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title" href="/list-product">Hoa hồng</a>
                                        <div>
                                            <div class="dropdown-child-content">
                                                <div><a class="mlk-nav-title-child" href="/list-product">Hoa hồng đỏ</a></div>
                                                <div><a class="mlk-nav-title-child" href="/list-product">Hoa hồng tím</a></div>
                                                <div><a class="mlk-nav-title-child" href="/list-product">Hoa hồng xanh</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">Hoa ly</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">Hoa cát tường</a></div>
                                </div>
                            </div>
                        </li>
                          <!-- Categories2 -->
                        <li class="nav-menu-item "><a class="nav-menu-item-hover " href="">LOẠI 2</a><span class="btn-menu-right mlkicon-Right "></span>
                            <div>
                                <div class="dropdown-content ">
                                    <div class="mlk-goback"><span class="btn-menu-left mlkicon-Left"></span>
                                       
                                    </div>
                                    <div class="image-category">
                                        <div class="image-category-thumb"
                                            style="background-image: url('template/images/categories/categorie2.png');">
                                        </div>
                                        <div class="image-category-title">LOẠI 2</div>
                                        <div class="image-category-link"><a href="/list-product">Shop Now</a></div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">Hoa tuylip</a>
                                        <div>
                                            <div class="dropdown-child-content">
                                                <div><a class="mlk-nav-title-child" href="/list-product">Hoa tuylip đỏ</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">Hoa Colorado Columbine</a>
                                        <div>
                                            <div class="dropdown-child-content">
                                                <div><a class="mlk-nav-title-child" href="/list-product">Hoa Colorado Columbine</a></div>
                                                <div><a class="mlk-nav-title-child" href="/list-product">Hoa Colorado Columbine tím</a></div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">Hoa cẩm tú cầu</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">Hoa linh lan</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">hoa thủy vu</a></div>
                                </div>
                            </div>
                        </li>
                         <!-- Categories3-->
                        <li class="nav-menu-item "><a class="nav-menu-item-hover " href="">LOẠI 3</a><span class="btn-menu-right mlkicon-Right "></span>
                            <div>
                                <div class="dropdown-content ">
                                    <div class="mlk-goback"><span class="btn-menu-left mlkicon-Left"></span>
                    
                                    </div>
                                    <div class="image-category">
                                        <div class="image-category-thumb"
                                            style="background-image: url('template/images/categories/categorie3.png');">
                                        </div>
                                        <div class="image-category-title">LOẠI 3</div>
                                        <div class="image-category-link"><a href="/list-product">Shop Now</a></div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">Hoa thạch thảo</a>
                                        <div>
                                            <div class="dropdown-child-content">
                                                <div><a class="mlk-nav-title-child" href="/list-product">Hoa thạch thảo tím</a></div>
                                                <div><a class="mlk-nav-title-child" href="/list-product">Hoa thạch thảo trắng</a>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">Hoa diên vĩ</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">Hoa thanh anh</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                        href="/list-product">Hoa calla lily</a></div>
                                </div>
                                </d>
                        </li>
                         <!-- Categories4 -->
                        <li class="nav-menu-item "><a class="nav-menu-item-hover " href="">LOẠI 4</a><span class="btn-menu-right mlkicon-Right "></span>
                            <div>
                                <div class="dropdown-content ">
                                    <div class="mlk-goback"><span class="btn-menu-left mlkicon-Left"></span>
                                      
                                    </div>
                                    <div class="image-category">
                                        <div class="image-category-thumb"
                                            style="background-image: url('template/images/categories/categorie4.png');">
                                        </div>
                                        <div class="image-category-title">LOẠI 4</div>
                                        <div class="image-category-link"><a href="/list-product">Shop Now</a></div>
                                    </div>
                                    <div class="block-child-content"><a  class="mlk-nav-title"
                                            href="/list-product"> Hoa cúc susan mắt đen</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/list-product">Hoa tigôn</a></div>
                                </div>
                            </div>
                        </li>
                        <!-- Add more categories ... -->
                        <!-- <li class="nav-menu-item "><a class="nav-menu-item-hover " href="/search/quan-">Quần </a><span
                                class="btn-menu-right mlkicon-Right "></span>
                            <div>
                                <div class="dropdown-content ">
                                    <div class="mlk-goback"><span class="btn-menu-left mlkicon-Left"></span>
                                        
                                    </div>
                                    <div class="image-category">
                                        <div class="image-category-thumb"
                                            style="background-image: url(&quot;http://apimualaketv1.ecdc.vn/upload/image/2324487612501u5SgAzZy.jpg&quot;);">
                                        </div>
                                        <div class="image-category-title">Quần </div>
                                        <div class="image-category-link"><a href="/search/quan-">Shop Now</a></div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/quan-short">Quần Short</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/quan-dai">Quần Dài</a></div>
                                </div>
                            </div>
                        </li> -->
                        <!-- <li class="nav-menu-item "><a class="nav-menu-item-hover " href="/search/tui-xach">Túi
                                Xách</a><span class="btn-menu-right mlkicon-Right "></span>
                            <div>
                                <div class="dropdown-content ">
                                    <div class="mlk-goback"><span class="btn-menu-left mlkicon-Left"></span>
                                       
                                    </div>
                                    <div class="image-category">
                                        <div class="image-category-thumb"
                                            style="background-image: url(&quot;http://apimualaketv1.ecdc.vn/upload/image/100991923714EEpNPJNu.jpg&quot;);">
                                        </div>
                                        <div class="image-category-title">Túi Xách</div>
                                        <div class="image-category-link"><a href="/search/tui-xach">Shop Now</a></div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/tui-bao-tu">Túi Bao Tử</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/tui-deo-cheo-vai">Túi Đeo Chéo Vai</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/tui-trong">Túi Trống</a></div>
                                </div>
                            </div>
                        </li> -->
                        <!-- <li class="nav-menu-item "><a class="nav-menu-item-hover " href="/search/balo">Balo</a><span
                                class="btn-menu-right mlkicon-Right "></span>
                            <div>
                                <div class="dropdown-content ">
                                    <div class="mlk-goback"><span class="btn-menu-left mlkicon-Left"></span>
                                       
                                    </div>
                                    <div class="image-category">
                                        <div class="image-category-thumb"
                                            style="background-image: url(&quot;http://apimualaketv1.ecdc.vn/upload/image/100832388810eQ203DAt.jpg&quot;);">
                                        </div>
                                        <div class="image-category-title">Balo</div>
                                        <div class="image-category-link"><a href="/search/balo">Shop Now</a></div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/balo-rth">Balo RTH</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/balo-rc">Balo RC</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/balo-ppr">Balo PPR</a></div>
                                </div>
                            </div>
                        </li> -->
                        <!-- <li class="nav-menu-item "><a class="nav-menu-item-hover " href="/search/giay">Giày</a><span
                                class="btn-menu-right mlkicon-Right "></span>
                            <div>
                                <div class="dropdown-content ">
                                    <div class="mlk-goback"><span class="btn-menu-left mlkicon-Left"></span>
                                        
                                    </div>
                                    <div class="image-category">
                                        <div class="image-category-thumb"
                                            style="background-image: url(&quot;http://apimualaketv1.ecdc.vn/upload/image/100675816327rCiJqdiw.jpg&quot;);">
                                        </div>
                                        <div class="image-category-title">Giày</div>
                                        <div class="image-category-link"><a href="/search/giay">Shop Now</a></div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/giay-boot-thap-co">Giày Boot Thấp Cổ</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/giay-boot-cao-co">Giày Boot Cao Cổ</a></div>
                                </div>
                            </div>
                        </li> -->
                        <!-- <li class="nav-menu-item "><a class="nav-menu-item-hover " href="/search/phu-kien">Phụ
                                Kiện</a><span class="btn-menu-right mlkicon-Right "></span>
                            <div>
                                <div class="dropdown-content ">
                                    <div class="mlk-goback"><span class="btn-menu-left mlkicon-Left"></span>
                                       
                                    </div>
                                    <div class="image-category">
                                        <div class="image-category-thumb"
                                            style="background-image: url(&quot;http://apimualaketv1.ecdc.vn/upload/image/100521332632nfGyLSji.jpg&quot;);">
                                        </div>
                                        <div class="image-category-title">Phụ Kiện</div>
                                        <div class="image-category-link"><a href="/search/phu-kien">Shop Now</a></div>
                                    </div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/kinh-ao">Kính AO</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/that-lung">Thắt Lưng</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/tui-di-kem-balo">Túi Đi Kèm Balo</a></div>
                                    <div class="block-child-content"><a class="mlk-nav-title"
                                            href="/search/day-the-bai">Dây thẻ bài</a></div>
                                </div>
                            </div>
                        </li> -->
                    </ul>
                      <!-- Option languages: vi -->
                     <div class="nav-menu-lang" data-reactid="61"><span class="mlkicon-Vn" data-reactid="62"><span
                                class="path1" data-reactid="63"></span><span class="path2" data-reactid="64"></span></span>VN(vnd)
                    </div>
                </nav>
                 <!-- Menu icon -->
                <!-- <div class="rx-mobile-show mobile-nav-block-user" data-reactid="66">
                    <div data-reactid="67"><span class="mlkicon-Profile" data-reactid="68"></span><a href="/login"
                            data-reactid="69">Đăng nhập</a>
                      <a href="/register" data-reactid="71">Đăng ký</a></div>
                    <div data-reactid="72"><span class="mlkicon-Heart" data-reactid="73"></span><a
                            href="/customer/favorite" data-reactid="74">Danh sách ưa thích</a></div>
                    <div data-reactid="75"><span class="mlkicon-Order" data-reactid="76"></span><a
                            href="/customer/order" data-reactid="77">Đơn hàng</a></div>
                </div> -->
                
                <!-- <div class="rx-mobile-show mobile-nav-block-lang" data-reactid="78">
                    <div data-reactid="79"><span class="mlkicon-Vn mlkicon-Vn-mobile" data-reactid="80"><span
                                class="path1" data-reactid="81"></span><span class="path2"
                                data-reactid="82"></span></span>VN (vnd)
                    </div>
                </div> -->
                <!-- <div class="rx-bg-nav " data-reactid="84"></div> -->
            </div>
        </div>
        <!-- Sub header - bottom menu Categories -->
        <div class='container--shadow'>
            <div class='container'>
                <div class='rx-main-banner-inner'>
                    <div class='rx-safe-banner-content row'>
                        <div><span class='bansafe__icon mlkicon-Like'></span>100% sản phẩm <b>Chính hãng</b></div>
                        <div><span class='bansafe__icon mlkicon-Icon2'></span>Liên tục <b>Khuyến mãi</b></div>
                        <div><span class='bansafe__icon mlkicon-Icon3'></span>Tận tình <b>Tư vấn</b></div>
                        <div><span class='bansafe__icon mlkicon-Icon4'></span>Nhiều chính sách <b>Khách hàng VIP</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
