<div class='blockfull--product'>
    <div class='container'>
        <div class='tabs'>
            <div class='tabs-title'>
                <div class='tabs__title'>
                    <div class='tabs_title_head'>Sản phẩm <b>phổ biến</b></div>
                </div>
            </div>
            <div class='rx-main-product'>
                <div class="hide-scroll blockproduct__colwrap" data-reactid="198">
                    <div class="blockproduct__col" data-reactid="199">

                        <div class='rx-product-item col-sm-lg col-sm-5c show'>
                            <div class='rx-product-figure'>
                                <div class='rx-product-sale-of'>
                                    <p><span>100</span>%</p>
                                </div>
                                <div class='rx-product-figure-header'>
                                    <a href="">
                                        <img class='' src="/template/images/products/product-2.png" alt='' title='' />
                                    </a>
                                </div>
                                <div class='rx-product-figure-body'>
                                    <a href="">
                                        <div class='figure-body-rating-star'>
                                            <!-- {rxCountStart(product.ratingsSumary)} -->
                                        </div>
                                        <div class='clearfix'></div>
                                        <div class='figure-body-title'>Flowers</div>
                                        <div class='rx-relative'>
                                            <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                <span class='price-discount'>125 000<i
                                                        class='rxprice-i'>đ</i></span>
                                            </div>
                                            <div class='figure-body-freeship'></div>
                                        </div>
                                    </a>
                                </div>
                                <div class='rx-product-action'>
                                    <div class='rx-action-like'></div>
                                    <div class='rx-action-card'></div>
                                    <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                        ngay
                                    </div>
                                    <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                </div>
                            </div>
                        </div>
                        <div class='rx-product-item col-sm-lg col-sm-5c show'>
                            <div class='rx-product-figure'>
                                <div class='rx-product-sale-of'>
                                    <p><span>100</span>%</p>
                                </div>
                                <div class='rx-product-figure-header'>
                                    <a href="">
                                        <img class='' src="/template/images/products/product-7.png" alt='' title='' />
                                    </a>
                                </div>
                                <div class='rx-product-figure-body'>
                                    <a href="">
                                        <div class='figure-body-rating-star'>
                                            <!-- {rxCountStart(product.ratingsSumary)} -->
                                        </div>
                                        <div class='clearfix'></div>
                                        <div class='figure-body-title'>Flowers</div>
                                        <div class='rx-relative'>
                                            <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                <span class='price-discount'>125 000<i
                                                        class='rxprice-i'>đ</i></span>
                                            </div>
                                            <div class='figure-body-freeship'></div>
                                        </div>
                                    </a>
                                </div>
                                <div class='rx-product-action'>
                                    <div class='rx-action-like'></div>
                                    <div class='rx-action-card'></div>
                                    <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                        ngay
                                    </div>
                                    <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                </div>
                            </div>
                        </div>
                        <div class='rx-product-item col-sm-lg col-sm-5c show'>
                            <div class='rx-product-figure'>
                                <div class='rx-product-sale-of'>
                                    <p><span>100</span>%</p>
                                </div>
                                <div class='rx-product-figure-header'>
                                    <a href="">
                                        <img class='' src="/template/images/products/product-4.png" alt='' title='' />
                                    </a>
                                </div>
                                <div class='rx-product-figure-body'>
                                    <a href="">
                                        <div class='figure-body-rating-star'>
                                            <!-- {rxCountStart(product.ratingsSumary)} -->
                                        </div>
                                        <div class='clearfix'></div>
                                        <div class='figure-body-title'>Flowers</div>
                                        <div class='rx-relative'>
                                            <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                <span class='price-discount'>125 000<i
                                                        class='rxprice-i'>đ</i></span>
                                            </div>
                                            <div class='figure-body-freeship'></div>
                                        </div>
                                    </a>
                                </div>
                                <div class='rx-product-action'>
                                    <div class='rx-action-like'></div>
                                    <div class='rx-action-card'></div>
                                    <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                        ngay
                                    </div>
                                    <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                </div>
                            </div>
                        </div>
                        <div class='rx-product-item col-sm-lg col-sm-5c show'>
                            <div class='rx-product-figure'>
                                <div class='rx-product-sale-of'>
                                    <p><span>100</span>%</p>
                                </div>
                                <div class='rx-product-figure-header'>
                                    <a href="">
                                        <img class='' src="/template/images/products/product-5.png" alt='' title='' />
                                    </a>
                                </div>
                                <div class='rx-product-figure-body'>
                                    <a href="">
                                        <div class='figure-body-rating-star'>
                                            <!-- {rxCountStart(product.ratingsSumary)} -->
                                        </div>
                                        <div class='clearfix'></div>
                                        <div class='figure-body-title'>Flowers</div>
                                        <div class='rx-relative'>
                                            <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                <span class='price-discount'>125 000<i
                                                        class='rxprice-i'>đ</i></span>
                                            </div>
                                            <div class='figure-body-freeship'></div>
                                        </div>
                                    </a>
                                </div>
                                <div class='rx-product-action'>
                                    <div class='rx-action-like'></div>
                                    <div class='rx-action-card'></div>
                                    <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                        ngay
                                    </div>
                                    <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                </div>
                            </div>
                        </div>
                        <div class='rx-product-item col-sm-lg col-sm-5c show'>
                            <div class='rx-product-figure'>
                                <div class='rx-product-sale-of'>
                                    <p><span>100</span>%</p>
                                </div>
                                <div class='rx-product-figure-header'>
                                    <a href="">
                                        <img class='' src="/template/images/products/product-1.png" alt='' title='' />
                                    </a>
                                </div>
                                <div class='rx-product-figure-body'>
                                    <a href="">
                                        <div class='figure-body-rating-star'>
                                            <!-- {rxCountStart(product.ratingsSumary)} -->
                                        </div>
                                        <div class='clearfix'></div>
                                        <div class='figure-body-title'>Flowers</div>
                                        <div class='rx-relative'>
                                            <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                <span class='price-discount'>125 000<i
                                                        class='rxprice-i'>đ</i></span>
                                            </div>
                                            <div class='figure-body-freeship'></div>
                                        </div>
                                    </a>
                                </div>
                                <div class='rx-product-action'>
                                    <div class='rx-action-like'></div>
                                    <div class='rx-action-card'></div>
                                    <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                        ngay
                                    </div>
                                    <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                </div>
                            </div>
                        </div>
                        <div class='rx-product-item col-sm-lg col-sm-5c show'>
                            <div class='rx-product-figure'>
                                <div class='rx-product-sale-of'>
                                    <p><span>100</span>%</p>
                                </div>
                                <div class='rx-product-figure-header'>
                                    <a href="">
                                        <img class='' src="template/images/products/product-3.png" alt='' title='' />
                                    </a>
                                </div>
                                <div class='rx-product-figure-body'>
                                    <a href="">
                                        <div class='figure-body-rating-star'>
                                            <!-- {rxCountStart(product.ratingsSumary)} -->
                                        </div>
                                        <div class='clearfix'></div>
                                        <div class='figure-body-title'>Flowers</div>
                                        <div class='rx-relative'>
                                            <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                <span class='price-discount'>125 000<i
                                                        class='rxprice-i'>đ</i></span>
                                            </div>
                                            <div class='figure-body-freeship'></div>
                                        </div>
                                    </a>
                                </div>
                                <div class='rx-product-action'>
                                    <div class='rx-action-like'></div>
                                    <div class='rx-action-card'></div>
                                    <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                        ngay
                                    </div>
                                    <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='blockproduct-arr jcarousel-control-prev carousel__arrow'><span
                        class='mlkicon-Right mlkicon-Arrows'></span></div>
                <div class='blockproduct-arr jcarousel-control-next carousel__arrow'><span
                        class='mlkicon-Left mlkicon-Arrows'></span></div>
            </div>
        </div>
    </div>
</div>