<div style="background-image: url('template/images/products/background_product_show.png')">
<div class='container rx-mobile-hide'>
    <div class='blockfix--banner'>
        <div class='rx-main-banner-2 rx-two-slots row'>
            <div class='col-lg-8 col-md-8'>
                <div class='mlk-banner mlk-banner1'>
                    <div style="background-image: url('template/images/products/product_show_1.png')"
                        class='banner- banner-2-1'><a href=""></a></div>
                </div>
            </div>
            <div class='mlk-col-right col-lg-4 col-md-4'>
                <div class='mlk-banner'>
                    <div style="background-image: url('template/images/products/product_show-2.png')"
                        class='banner- banner-2-1'><a href=""></a></div>
                </div>
            </div>
        </div>
        <div class='rx-main-banner-2 rx-two-slots row'>
            <div class='mlk-col col-lg-4 col-md-4'>
                <div class='mlk-banner mlk-banner1'>
                    <div style="background-image: url('template/images/products/product_show_3.png')"
                        class='banner- banner-2-1'><a href=""></a></div>
                </div>
            </div>
            <div class='mlk-col col-lg-4 col-md-4'>
                <div class='mlk-banner mlk-banner2'>
                    <div style="background-image: url('template/images/products/product_show_4.png')"
                        class='banner- banner-2-1'><a href=""></a></div>
                </div>
            </div>
            <div class='mlk-col col-lg-4 col-md-4'>
                <div class='mlk-banner mlk-banner3'>
                    <div style="background-image: url('template/images/products/product_show_5.png')"
                        class='banner- banner-2-1'><a href=""></a></div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>