<% include ../../partials/head.ejs %>
<% include ../../partials/header.ejs %>


<!-- forget password -->
<div class='lk-login-customer-page'>
    <div class='row lk-row-nomar'>
        <div class='rxauthen-left-container lk-contact'></div>
        <div class='lk-page-customer-info lk-page-info-login'>
            <div class="col-sm col-md-12">
                <div class="rxcustomer-title">Quên mật khẩu</div>
            </div>
            <div class='lk-login-customer-inner'>
                <form method="POST" action="/email-reset-password">
                    <div>
                        <div class='clearfix'>
                            <div class='lk-input-error' id="login-alert" style="color: #0abde3">
                                <%= typeof msg != 'undefined' ? msg : '' %></div>
                        </div>
                        <div class='lk-input-group-row'>
                            <div class='lk-cart-page-customer-name'>Email</div>
                            <input tabIndex='1' type='email' name='email' class='fullwidth-input' required />
                        </div>
                    </div>
                    <div class='lk-login-submit-section'>
                        <div class='lk-link-forgetpass'><a>Bạn vui lòng nhập email đã dùng đăng ký tài khoản để nhận mã
                                xác nhận từ Floral. Xin cảm ơn!</a></div>
                    </div>
                    <div class='lk-login-submit-section'>
                        <button type="submit" tabIndex='2' class='lk-page-reset-password-submit'>XÁC NHẬN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--  -->

<% include ../../partials/footer.ejs %>