<% include ../../partials/head.ejs %>
<% include ../../partials/header.ejs %>

<!-- login -->
<div class='lk-login-customer-page'>
    <div class='row lk-row-nomar'>
        <div class='rxauthen-left-container lk-contact'></div>
        <div class='lk-page-customer-info lk-page-info-login'>
            <div class="col-sm col-md-12">
                <div class="rxcustomer-title">Quên mật khẩu</div>
            </div>

            <div class='lk-login-customer-inner'>
                <form method="POST" action="/reset-password" id="reset-pass-form">
                    <div>
                        <div class='clearfix'>
                            <div class='lk-input-error' id="login-alert"></div>
                        </div>
                        <div class='lk-input-group-row'>
                            <div class='lk-cart-page-customer-name'>Mật khẩu mới</div>
                            <input tabIndex='1' type='password' name='pass' class='fullwidth-input' id="new-pass" required/>
                        </div>

                        <div class='lk-input-group-row'>
                            <div class='lk-cart-page-customer-phone'>Mật khẩu xác nhận</div>
                            <input tabIndex='2' type='password' class='fullwidth-input' id="confirm-pass" required/>
                        </div>                        
                    </div>
                    <input id="hidden-input" name="id" value="<%=id%>">
                    <div class='lk-login-submit-section' style="display: flex; flex-direction: row; justify-content: center;">
                        <button tabIndex='3' class='lk-page-reset-password-submit' type="submit"><a>xác nhận</a></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var timeout = null;
        var valid = true;
        $("#new-pass").keydown(function () {
            $("#login-alert").text("");
        })
        $("#confirm-pass").keydown(function () {
            $("#login-alert").text("");
        })
        $("#confirm-pass").keyup(function () {
            clearTimeout(timeout);
            timeout = setTimeout(function () {
                var pass = $("#new-pass").val();
                var confirm_pass = $("#confirm-pass").val();
                var pass_alert = $("#login-alert");
                if (pass != confirm_pass) {
                    valid = false;
                    pass_alert.text("Mật khẩu xác nhận không hợp lệ!");
                } else {
                    valid = true;
                    pass_alert.text("");
                }
            }, 500);
        })
        $("#reset-pass-form").submit(function (e) {
            if(!valid){
                e.preventDefault();
            }
        })
    })

</script>
<!--  -->
<% include ../../partials/footer.ejs %>