<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>FREE RESPONSIVE HORIZONTAL ADMIN</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link href="stylesheets/font-awesome.css" rel="stylesheet" />
    <!-- DATATABLE STYLE  -->
    <link href="javascripts/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="stylesheets/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body>
    <% include ../partials/header.ejs %>
     <!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">QUẢN LÝ SẢN PHẨM</h4>
            </div>

        </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel">
                        <div class="panel-heading header-panel">
                             Danh sách sản phẩm
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="style-middle-center">Mã sản phẩm</th>
                                            <th class="style-middle-center">Hình ảnh</th>
                                            <th class="style-middle-center">Tên sản phẩm</th>
                                            <th class="style-middle-center">Mô tả</th>
                                            <th class="style-middle-center">Giá (1 đơn vị)</th>
                                            <th class="style-middle-center">Số lượng</th>
                                            <th class="style-middle-center">Ngày cập nhật</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td class="style-middle-center">HH370</td>
                                            <td class="style-middle-center"> <img src="/images/rose.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Hoa Hồng</td>
                                            <td class="style-middle-center">Hoa hồng nhập từ Đà Lạt</td>
                                            <td class="style-middle-center">20.000</td>
                                            <td class="style-middle-center">1000</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="even gradeC">
                                            <td class="style-middle-center">OH789</td>
                                            <td class="style-middle-center"> <img src="/images/lavender.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Oải hương</td>
                                            <td class="style-middle-center">Hoa oải hương tím</td>
                                            <td class="style-middle-center">35.000</td>
                                            <td class="style-middle-center">1000</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td class="style-middle-center">C670</td>
                                            <td class="style-middle-center"> <img src="/images/cucVang.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Cúc vàng</td>
                                            <td class="style-middle-center"></td>
                                            <td class="style-middle-center">10.000</td>
                                            <td class="style-middle-center">600</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td class="style-middle-center">CHM680</td>
                                            <td class="style-middle-center"> <img src="/images/cucTrang.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Cúc trắng</td>
                                            <td class="style-middle-center">Cúc họa mi</td>
                                            <td class="style-middle-center">13.000</td>
                                            <td class="style-middle-center">700</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td class="style-middle-center">HD124</td>
                                            <td class="style-middle-center"> <img src="/images/huongDuong.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Hướng dương</td>
                                            <td class="style-middle-center">Hướng dương hoa nhỏ</td>
                                            <td class="style-middle-center">15.000</td>
                                            <td class="style-middle-center">800</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td class="style-middle-center">CC530</td>
                                            <td class="style-middle-center"> <img src="/images/camChuong.png" class="img-product"></td>
                                            <td class="style-middle-center">Cẩm chướng</td>
                                            <td class="style-middle-center">Cẩm chướng đỏ</td>
                                            <td class="style-middle-center">17.000</td>
                                            <td class="style-middle-center">1000</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td class="style-middle-center">TC1289</td>
                                            <td class="style-middle-center"> <img src="/images/camTuCau.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Cẩm tú cầu</td>
                                            <td class="style-middle-center">Cẩm tú cầu bông xanh, nhập từ Đà Lạt</td>
                                            <td class="style-middle-center">50.000</td>
                                            <td class="style-middle-center">900</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td class="style-middle-center">L287</td>
                                            <td class="style-middle-center"> <img src="/images/lan.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Lan hồ điệp</td>
                                            <td class="style-middle-center"></td>
                                            <td class="style-middle-center">156.000</td>
                                            <td class="style-middle-center">1000</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td class="style-middle-center">LL003</td>
                                            <td class="style-middle-center"> <img src="/images/linhLan.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Linh lan</td>
                                            <td class="style-middle-center">Còn gọi là hoa chuông, bông nhỏ</td>
                                            <td class="style-middle-center">33.000</td>
                                            <td class="style-middle-center">1000</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td class="style-middle-center">HHV337</td>
                                            <td class="style-middle-center"> <img src="/images/yellowRose.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Hoa Hồng Vàng</td>
                                            <td class="style-middle-center"></td>
                                            <td class="style-middle-center">23.000</td>
                                            <td class="style-middle-center">1000</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td class="style-middle-center">L998</td>
                                            <td class="style-middle-center"> <img src="/images/ly.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Hoa ly</td>
                                            <td class="style-middle-center">Hoa ly trắng</td>
                                            <td class="style-middle-center">20.000</td>
                                            <td class="style-middle-center">900</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td class="style-middle-center">AD873</td>
                                            <td class="style-middle-center"> <img src="/images/anhDao.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Hoa anh đào</td>
                                            <td class="style-middle-center">Nhánh hoa anh đào</td>
                                            <td class="style-middle-center">80.000</td>
                                            <td class="style-middle-center">500</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td class="style-middle-center">DTH542</td>
                                            <td class="style-middle-center"> <img src="/images/coDuoiTho.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Cỏ đuôi thỏ</td>
                                            <td class="style-middle-center"></td>
                                            <td class="style-middle-center">20.000</td>
                                            <td class="style-middle-center">430</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td class="style-middle-center">TTH078</td>
                                            <td class="style-middle-center"> <img src="/images/coTaiTho.jpg" class="img-product"></td>
                                            <td class="style-middle-center">Cỏ tai thỏ</td>
                                            <td class="style-middle-center">Cỏ tai thỏ mix đủ màu</td>
                                            <td class="style-middle-center">90.000</td>
                                            <td class="style-middle-center">450</td>
                                            <td class="style-middle-center">19/04/2019</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

           <!--     &lt;!&ndash; /. ROW  &ndash;&gt;
            <div class="row">
                <div class="col-md-6">
                      &lt;!&ndash;    Striped Rows Table  &ndash;&gt;
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Striped Rows Table
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash;  End  Striped Rows Table  &ndash;&gt;
                </div>
                <div class="col-md-6">
                    &lt;!&ndash;    Bordered Table  &ndash;&gt;
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bordered Table
                        </div>
                        &lt;!&ndash; /.panel-heading &ndash;&gt;
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                     &lt;!&ndash;  End  Bordered Table  &ndash;&gt;
                </div>
            </div>-->
                <!-- /. ROW  -->
            <!--<div class="row">
                <div class="col-md-6">
                    &lt;!&ndash;    Context Classes  &ndash;&gt;
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            Khách hàng mua nhiều nhất
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Họ tên</th>
                                        <th>Số điện thoại </th>
                                        <th>Địa chỉ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="success">
                                        <td>1</td>
                                        <td>Phú Duy</td>
                                        <td>123456789</td>
                                        <td>Q8, TP.HCM</td>
                                    </tr>
                                    <tr class="info">
                                        <td>2</td>
                                        <td>Thanh Hương</td>
                                        <td>456789998</td>
                                        <td>Q1, TP.HCM</td>
                                    </tr>
                                    <tr class="warning">
                                        <td>3</td>
                                        <td>Quang Huân</td>
                                        <td>2334456576</td>
                                        <td>Quận Tân Phú, TP.HCM</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash;  end  Context Classes  &ndash;&gt;
                </div>
                <div class="col-md-6">
                     &lt;!&ndash;    Hover Rows  &ndash;&gt;
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Khách hàng mới
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Họ tên</th>
                                            <th>Số điện thoại</th>
                                            <th>Địa chỉ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td>1</td>
                                        <td>Phú Duy</td>
                                        <td>123456789</td>
                                        <td>Q8, TP.HCM</td>
                                    </tr>
                                        <td>2</td>
                                        <td>Thanh Hương</td>
                                        <td>456789998</td>
                                        <td>Q1, TP.HCM</td>
                                    </tr>
                                        <td>3</td>
                                        <td>Quang Huân</td>
                                        <td>2334456576</td>
                                        <td>Quận Tân Phú, TP.HCM</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; End  Hover Rows  &ndash;&gt;
                </div>

            </div>-->
                <!-- /. ROW  -->
    </div>
    </div>
     <!-- CONTENT-WRAPPER SECTION END-->
    <% include ../partials/footer.ejs %>
      <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="javascripts/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="javascripts/bootstrap.js"></script>
    <!-- DATATABLE SCRIPTS  -->
    <script src="javascripts/dataTables/jquery.dataTables.js"></script>
    <script src="javascripts/dataTables/dataTables.bootstrap.js"></script>
      <!-- CUSTOM SCRIPTS  -->
    <script src="javascripts/custom.js"></script>
</body>
</html>
