<% include ../../partials/head.ejs %>
</head>
<body style="background-color: #E6E8EC">

<div class="row">
    <div class="col-6" style="display: flex; flex-direction: row; justify-content: flex-end;align-items: center">
        <div style="display: flex; flex-direction: column;justify-content: space-between;align-items: flex-start; margin-right: 100px;">
            <span style="font-family: Quicksand; font-weight: 700; font-size: 70px;">500</span>
            <span style="font-family: Quicksand; font-weight: 500; font-size: 25px;">DB free nên chưa load kịp huhu...<br>Bạn load lại trang nhé!</span>
        </div>
    </div>
    <div class="col-6" style="display: flex; flex-direction: row; justify-content: flex-start;align-items: center">
        <img src="/template/images/db.gif">
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/template/js/script.js"></script>
<script src="/template/js/jquery-1.10.2.js"></script>
<script type="text/javascript"></script>
</body>
</html>