<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

<!-- blog -->
<main class="container main-container" data-reactid="108">
    <div class="container rxnews-pagewrap">
        <div class="rx-main-page">
            <div class="rxnews-cat clearfix row row-nopad-col">
                <div class="rx-active">Xem tất cả</div>
                <div class="">Dịp lễ hội</div>
                <div class="">Dịp cưới</div>
            </div>
            <div class="rxnews-wrapper row row-nopad-col">
                <div class="col-sm-lg col-sm-8 rx-full-small">
                    <div class="rxnews-contents">
                        <!-- new 1 -->
                        <div class="rxnews-post">
                            <div class="rxnews-post-pic"><img class="" src="/template/images/products/product-1.png"
                                    alt="" title=""></div>
                            <div class="rxnews-post-body">
                                <div class="rxnews-post-cat clearfix">
                                    <div>Tư vấn mua hoa cưới</div>
                                </div>
                                <div class="rxnewsex-date">
                                    <!-- react-text: 8266 -->Lúc
                                    <!-- /react-text -->
                                    <!-- react-text: 8267 -->2018-06-18 11:27:11
                                    <!-- /react-text -->
                                </div>
                                <div><a class="rxnews-post-title"
                                        href="/blog-content">
                                        Nhẹ nhàng và thanh lịch</a></div>
                                <div class="rxnews-post-desc">Với tông màu hồng nhẹ nhàng, nhưng không kém phần hấp dẫn.
                                    Một đoá hoa hồng cánh sen là món quà
                                    ý nghĩa cho các nangf dâu trong ngày cưới.
                                </div>
                            </div>
                        </div>
                        <!-- new 2 -->
                        <div class="rxnews-post">
                            <div class="rxnews-post-pic"><img class="" src="/template/images/products/product-1.png"
                                    alt="" title=""></div>
                            <div class="rxnews-post-body">
                                <div class="rxnews-post-cat clearfix">
                                    <div>Tư vẫn mua hoa cưới</div>
                                </div>
                                <div class="rxnewsex-date">
                                    <!-- react-text: 8266 -->Lúc
                                    <!-- /react-text -->
                                    <!-- react-text: 8267 -->2018-06-18 11:27:11
                                    <!-- /react-text -->
                                </div>
                                <div><a class="rxnews-post-title"
                                        href="">
                                        Nhẹ nhàng và thanh lịch</a></div>
                                <div class="rxnews-post-desc">Với tông màu hồng nhẹ nhàng, nhưng không kém phần hấp dẫn.
                                    Một đoá hoa hồng cánh sen là món quà
                                    ý nghĩa cho các nangf dâu trong ngày cưới.
                                </div>
                            </div>
                        </div>
                        <div class="rxnews-post">
                            <div class="rxnews-post-pic"><img class="" src="/template/images/products/product-1.png"
                                    alt="" title=""></div>
                            <div class="rxnews-post-body">
                                <div class="rxnews-post-cat clearfix">
                                    <div>Tư vẫn mua hoa cưới</div>
                                </div>
                                <div class="rxnewsex-date">
                                    <!-- react-text: 8266 -->Lúc
                                    <!-- /react-text -->
                                    <!-- react-text: 8267 -->2018-06-18 11:27:11
                                    <!-- /react-text -->
                                </div>
                                <div><a class="rxnews-post-title"
                                        href="">
                                        Nhẹ nhàng và thanh lịch</a></div>
                                <div class="rxnews-post-desc">Với tông màu hồng nhẹ nhàng, nhưng không kém phần hấp dẫn.
                                    Một đoá hoa hồng cánh sen là món quà
                                    ý nghĩa cho các nangf dâu trong ngày cưới.
                                </div>
                            </div>
                        </div>
                        <div class="rxnews-post">
                            <div class="rxnews-post-pic"><img class="" src="/template/images/products/product-1.png"
                                    alt="" title=""></div>
                            <div class="rxnews-post-body">
                                <div class="rxnews-post-cat clearfix">
                                    <div>Tư vẫn mua hoa cưới</div>
                                </div>
                                <div class="rxnewsex-date">
                                    <!-- react-text: 8266 -->Lúc
                                    <!-- /react-text -->
                                    <!-- react-text: 8267 -->2018-06-18 11:27:11
                                    <!-- /react-text -->
                                </div>
                                <div><a class="rxnews-post-title"
                                        href="">
                                        Nhẹ nhàng và thanh lịch</a></div>
                                <div class="rxnews-post-desc">Với tông màu hồng nhẹ nhàng, nhưng không kém phần hấp dẫn.
                                    Một đoá hoa hồng cánh sen là món quà
                                    ý nghĩa cho các nangf dâu trong ngày cưới.
                                </div>
                            </div>
                        </div>
                        <div class="rxnews-post">
                            <div class="rxnews-post-pic"><img class="" src="/template/images/products/product-1.png"
                                    alt="" title=""></div>
                            <div class="rxnews-post-body">
                                <div class="rxnews-post-cat clearfix">
                                    <div>Tư vẫn mua hoa cưới</div>
                                </div>
                                <div class="rxnewsex-date">
                                    <!-- react-text: 8266 -->Lúc
                                    <!-- /react-text -->
                                    <!-- react-text: 8267 -->2018-06-18 11:27:11
                                    <!-- /react-text -->
                                </div>
                                <div><a class="rxnews-post-title"
                                        href="">
                                        Nhẹ nhàng và thanh lịch</a></div>
                                <div class="rxnews-post-desc">Với tông màu hồng nhẹ nhàng, nhưng không kém phần hấp dẫn.
                                    Một đoá hoa hồng cánh sen là món quà
                                    ý nghĩa cho các nangf dâu trong ngày cưới.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-lg col-sm-4 rx-hide-small">
                    <div class="rxnews-hot">
                        <div class="rxnews-hothead">Hoa đẹp dành tặng phái đẹp</div>
                        <div class="rxnews-hotbody">
                            <a href="">Ngày lễ tình yêu</a>
                            <a href="">Ngày quốc tế phụ nữ</a><a href="">
                            </a><a href="">Mỗi ngày là một ngày để yêu thương
                            </a><a href="">Lan toả yêu thương
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--  -->

<% include ../partials/footer.ejs %>