<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

    <!-- contact -->
    <div class='container'>
        <div class='lk-login-customer-page'>
          <div class='row lk-row-nomar'>
            <div class='rxauthen-left-container lk-contact'>
                <div class='lk-contact-title'>Liên hệ</div>
                    <div class='lk-contact-desc'>Đến với chúng tôi để khẳng định chính mình, để thể hiện cái khí chất của đàn ông!</div>          	
            </div>
            <div class='lk-page-customer-info lk-page-info-login'>
              <div class='lk-login-section-title-wrap clearfix'>
                <div class='lk-login-section-title-contact rx-active'>Liên hệ</div>              
              </div>
              <div class='lk-register-customer-inner'>
                      <div class='clearfix'>
                      
                        <div class='lk-input-group-row'>
                  <div>Họ tên </div>
                  <input tab-index='1' type='text' name='username' class='fullwidth-input' />
                </div>
                <div class='lk-input-group-row'>
                  <div>Điện thoại di động </div>
                  <input tab-index='2' type='text' name='phone'  class='fullwidth-input' />
                </div>
                <div class='lk-input-group-row'>
                      <div>Địa chỉ </div>
                      <input tab-index='3' type='text' name='address'  class='fullwidth-input' />
                    </div>
                <div class='lk-input-group-row'>
                  <div>Email </div>
                  <input tab-index='4' type='text' name='email'  class='fullwidth-input' />
                </div>
                        <div class='lk-input-group-row lk-contact'>
                  <div>Nội dung </div>
                  <textarea tab-index='4' type='text' name='content'  class='fullwidth-input'></textarea>
                </div>    
                      </div>
                      <div class='lk-login-submit-section lk-contact'>
                        <div tab-index='10' class='lk-page-login-customer-submit' >Gửi ngay</div> 
                      </div>
                      <div class='lk-login-submit-section'></div>
                    </div> 
            </div>
          </div>
        </div>
      </div>
    <!--  -->

<% include ../partials/footer.ejs %>