<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

   
    <!-- forget password -->
    <div class='lk-login-customer-page'>
        <div class='row lk-row-nomar'>
            <div class='rxauthen-left-container lk-contact'></div>
            <div class='lk-page-customer-info lk-page-info-login'>
                <div class="col-sm col-md-12">
                    <div class="rxcustomer-title">Quên mật khẩu</div>
                </div>
                <div class='lk-login-customer-inner'>
                    <div>
                        <div class='clearfix'>
                            <div class='lk-input-error'></div>
                        </div>
                        <div class='lk-input-group-row'>
                            <div class='lk-cart-page-customer-name'>Email</div>
                            <input tabIndex='1' type='text' name='email' class='fullwidth-input' />
                        </div>
                    </div>
                    <div class='lk-login-submit-section'>
                            <div class='lk-link-forgetpass'><a>Bạn vui lòng nhập email đã dùng đăng ký tài khoản để nhận mã xác nhận từ Flora. Xin cảm ơn!</a></div>
                        </div>
                    <div class='lk-login-submit-section'>
                        <div tabIndex='3' class='lk-page-login-customer-submit'>XÁC NHẬN</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->

<% include ../partials/footer.ejs %>