<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>
<% include ../partials/slidebar.ejs %>

        <!-- Multiple items per slide -->
        <div>
            <div class='rx-header row row-nmar rx-header-desktop'>
                <div class='rx-category'>
                    <div class='rx-categories'></div>
                </div>
                <div class='rx-slider'>
                    <!-- <div class='exampleSliders'>{slidehome}</div> -->
                </div>
            </div>
            <div class='rx-header row row-nmar rx-header-mobile'>
                <div class='rx-slider'>
                    <!-- <div class='exampleSliders'>{slidehomeMobile}</div> -->
                </div>
            </div>
            <div class='blockfull--product'>
                <div class='container'>
                    <div class='tabs'>
                        <div class='tabs-title'>
                            <div class='tabs__title'>
                                <div class='tabs_title_head'>Sản phẩm <b>mới về</b></div>
                            </div>
                        </div>
                        <div class='rx-main-product'>
                            <div class="hide-scroll blockproduct__colwrap" data-reactid="198">
                                <div class="blockproduct__col" data-reactid="199">
    
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='blockproduct-arr jcarousel-control-prev carousel__arrow'><span
                                    class='mlkicon-Right mlkicon-Arrows'></span></div>
                            <div class='blockproduct-arr jcarousel-control-next carousel__arrow'><span
                                    class='mlkicon-Left mlkicon-Arrows'></span></div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class='container rx-mobile-hide'>
                <div class='blockfix--banner'>
                    <div class='rx-main-banner-2 rx-two-slots row'>
                        <div class='col-lg-8 col-md-8'>
                            <div class='mlk-banner mlk-banner1'>
                                <div style="background-image: url('template/images/products/product-1.png')"
                                    class='banner- banner-2-1'><a href=""></a></div>
                            </div>
                        </div>
                        <div class='mlk-col-right col-lg-4 col-md-4'>
                            <div class='mlk-banner'>
                                <div style="background-image: url('template/images/products/product-2.png')"
                                    class='banner- banner-2-1'><a href=""></a></div>
                            </div>
                        </div>
                    </div>
                    <div class='rx-main-banner-2 rx-two-slots row'>
                        <div class='mlk-col col-lg-4 col-md-4'>
                            <div class='mlk-banner mlk-banner1'>
                                <div style="background-image: url('template/images/products/product-3.png')"
                                    class='banner- banner-2-1'><a href=""></a></div>
                            </div>
                        </div>
                        <div class='mlk-col col-lg-4 col-md-4'>
                            <div class='mlk-banner mlk-banner2'>
                                <div style="background-image: url('template/images/products/product-4.png')"
                                    class='banner- banner-2-1'><a href=""></a></div>
                            </div>
                        </div>
                        <div class='mlk-col col-lg-4 col-md-4'>
                            <div class='mlk-banner mlk-banner3'>
                                <div style="background-image: url('template/images/products/product-2.png')"
                                    class='banner- banner-2-1'><a href=""></a></div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <!-- <div class='container rx-mobile-show clearfix'>
                <div class='blockfix--banner'>
                {this.state.imgbanners && this.state.imgbanners.length !== 0  && 
                  <div class='rx-main-banner-2'>
                    <div style={{ backgroundImage: 'url( '+ config.base_api + '/upload/image/' + this.state.imgbanners[4]['img_landscape'] +' )' }} class='banner-2-1'><a href={this.state.imgbanners[4]['url']}></a></div>
                    <div style={{ backgroundImage: 'url( '+ config.base_api + '/upload/image/' + this.state.imgbanners[3]['img_landscape'] +' )' }} class='banner-2-2'><a href={this.state.imgbanners[3]['url']}></a></div>
                    <div style={{ backgroundImage: 'url( '+ config.base_api + '/upload/image/' + this.state.imgbanners[2]['img_landscape'] +' )' }} class='banner-1-1'><a href={this.state.imgbanners[2]['url']}></a></div>
                    <div style={{ backgroundImage: 'url( '+ config.base_api + '/upload/image/' + this.state.imgbanners[1]['img_landscape'] +' )' }} class='banner-1-2'><a href={this.state.imgbanners[1]['url']}></a></div>
                    <div style={{ backgroundImage: 'url( '+ config.base_api + '/upload/image/' + this.state.imgbanners[0]['img_landscape'] +' )' }} class='banner-1-3'><a href={this.state.imgbanners[0]['url']}></a></div>
                  </div> 
                }           
                </div>
              </div> -->
    
            <div class='blockfull--product'>
                <div class='container'>
                    <div class='tabs'>
                        <div class='tabs-title'>
                            <div class='tabs__title'>
                                <div class='tabs_title_head'>Sản phẩm <b>mới về</b></div>
                            </div>
                        </div>
                        <div class='rx-main-product'>
                            <div class="hide-scroll blockproduct__colwrap" data-reactid="198">
                                <div class="blockproduct__col" data-reactid="199">
    
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class='rx-product-item col-sm-lg col-sm-5c show'>
                                        <div class='rx-product-figure'>
                                            <div class='rx-product-sale-of'>
                                                <p><span>100</span>%</p>
                                            </div>
                                            <div class='rx-product-figure-header'>
                                                <a href="">
                                                    <img class='' src="template/images/products/product-2.png" alt='' title='' />
                                                </a>
                                            </div>
                                            <div class='rx-product-figure-body'>
                                                <a href="">
                                                    <div class='figure-body-rating-star'>
                                                        <!-- {rxCountStart(product.ratingsSumary)} -->
                                                    </div>
                                                    <div class='clearfix'></div>
                                                    <div class='figure-body-title'>Flowers</div>
                                                    <div class='rx-relative'>
                                                        <div class='figure-body-price'>50 000 <i class='rxprice-i'>đ</i>
                                                            <span class='price-discount'>25 000<i
                                                                    class='rxprice-i'>đ</i></span>
                                                        </div>
                                                        <div class='figure-body-freeship'></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='rx-product-action'>
                                                <div class='rx-action-like'></div>
                                                <div class='rx-action-card'></div>
                                                <div class='rx-action-addcart'><span class='rx-icon rx-icon-cart'></span>Mua
                                                    ngay
                                                </div>
                                                <!-- onClick={(e) => { e.stopPropagation(); this.props.cartAdd(product._id, { amount: 1, data: product }) }} -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='blockproduct-arr jcarousel-control-prev carousel__arrow'><span
                                    class='mlkicon-Right mlkicon-Arrows'></span></div>
                            <div class='blockproduct-arr jcarousel-control-next carousel__arrow'><span
                                    class='mlkicon-Left mlkicon-Arrows'></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Multiple items per slide -->
    

<% include ../partials/footer.ejs %>