<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

    <main>
        <div class="jumbotron">
                <h1>This is content</h1>
                <p>Welcome to Shiba-inu shop</p>
         </div>
    </main>

<% include ../partials/footer.ejs %>