<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

    <!-- contact -->
    <div class='container'>
            <p>Danh sách sản phẩm yêu thích</p>
      </div>
    <!--  -->

<% include ../partials/footer.ejs %>