<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

    <!-- List the favorite products -->
    <main class="container main-container" data-reactid="108">
      <div class="container">
          <div class="rx-main-page">
              <div class="lk-customer-main">
                  <div class="lk-customer-topnav"></div>
                  <div class="lk-customer-mainnav">
                      <div class="lk-customer-mainnav-inner">
                          <div></div>
                          <div class="lk-customer-mainnav-item"><a href=""><i
                                      class="icon-notebook nav-icon"></i><!-- react-text: 3883 -->Tra cứu
                                  <!-- /react-text --></a></div>
                          <div class="lk-customer-mainnav-item"><a href=""><i
                                      class="icon-notebook nav-icon"></i><!-- react-text: 3887 -->Sản phẩm yêu thích
                                  <!-- /react-text --></a></div>
                          <div class="lk-customer-mainnav-item"><a href=""><i
                                      class="icon-notebook nav-icon"></i><!-- react-text: 3891 -->Hỏi đáp
                                  <!-- /react-text --></a></div>
                      </div>
                  </div>
                  <div class="lk-customer-container">
                      <div class="admin-container-inner">
                          <div class="container">
                              <div class="rx-main-page">
                                  <div class="lk-customer-page">
                                      <div class="row rx-row-nomar">
                                          <div class="col-sm col-md-12">
                                              <div class="rxcustomer-title">Sản phẩm yêu thích</div>
                                              <div class=""></div>
                                              <div class="admin-table-pagination admin-pagin-right">
                                                  <div class="pagin-curr">1</div>
                                                  <div class="pagin-next"><i class="icon-arrow-right"></i></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
    <!--  -->

<% include ../partials/footer.ejs %>