<!-- CONTENT-WRAPPER SECTION END-->
<section class="footer-section">
	<div class="container">
		<img class="col-lg-12" src="images/logoFooter.png" style="width: 130px; height: 30px; margin: auto"/>
	</div>
</section>