<!-- CONTENT-WRAPPER SECTION END-->
<section class="footer-section">
	<div class="container">
		<div class="row">
			<span class="col-lg-1 ft-store-name">Floral</span>
			<span class="col-lg-11 ft-team">Team <strong>Shiba-inu</strong></span>
		</div>
	</div>
</section>