<% include ../../partials/head.ejs %>
<% include ../../partials/header.ejs %> 

<!-- Detail a product -->
<main class="container main-container" data-reactid="108">
    <div class="container--grey" id="container--grey">
        <div class="container rx-product-detail-page">
            <div class="rx-main-page">
                <div>
                    <div class="row row-nopad-col product-content">
                        <div class="product-content-nav-holder">
                            <div class="product-content-nav rx-sticky">
                                <div class="product-content-nav-item rxiddetail rx-active">Chi tiết sản phẩm</div>
                                <div class="product-content-nav-item rxiddesc">Mô tả sản phẩm</div>
                                <div class="product-content-nav-item rxidreview">Đánh giá &amp; nhận xét</div>
                                <div class="product-content-nav-item rxidfaq">Hỏi đáp</div>
                            </div>
                        </div>
                        <div class="product-detail-content-wrap">
                            <div class="fancybox-overlay">
                                <div class="fancybox-desktop-opened">
                                    <div class="facybox-desktop-skin">
                                        <div class="thumbZomin-hidden"><span class="mlkicon-Close icon-Close"></span>
                                        </div>
                                        <div class="Slider rx-slider-custom">
                                            <div class="Slider-arrows">
                                                <div class="Slider-arrow Slider-arrow--left"><span
                                                        class="mlkicon-ArrowBack mlkicon-Arrow"></span></div>
                                                <div class="Slider-arrow Slider-arrow--right"><span
                                                        class="mlkicon-ArrowNext mlkicon-Arrow"></span></div>
                                            </div>
                                            <div class="Slider-nav"><button
                                                    class="Slider-navButton Slider-navButton--active"></button><button
                                                    class="Slider-navButton"></button><button
                                                    class="Slider-navButton"></button><button
                                                    class="Slider-navButton"></button><button
                                                    class="Slider-navButton"></button><button
                                                    class="Slider-navButton"></button><button
                                                    class="Slider-navButton"></button></div>
                                            <!-- Chang images -->
                                            <div class="Slider-inner">
                                                <div class="Slider-single rx-slider-custom-single"
                                                    style="width: 700%; transform: translateX(0%);">
                                                    <div class="rx-thumb"><img class=""
                                                        src="" alt=""
                                                            title="Hoa hồng"></div>
                                                    <div class="rx-thumb"><img class=""
                                                        src=" "
                                                            alt="" title="Hoa hồng"></div>
                                                    <div class="rx-thumb"><img class=""
                                                        src=" "
                                                            alt="" title="Hoa hồng"></div>
                                                    <div class="rx-thumb"><img class=""
                                                        src=" "
                                                            alt="" title="Hoa hồng"></div>
                                                    <div class="rx-thumb"><img class=""
                                                        src=" "
                                                            alt="" title="Hoa hồng"></div>
                                                    <div class="rx-thumb"><img class=""
                                                        src=" "
                                                            alt="" title="Hoa hồng"></div>
                                                    <div class="rx-thumb"><img class=""
                                                        src=" "
                                                            alt="" title="Hoa hồng"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%singleProduct.forEach(function(product){ %>
                            <div class="col-sm-lg col-sm-4" id="detail">
                                <div class="product-left-img">
                                    <div class="thumbZomin-hidden"><span class="mlkicon-Close icon-Close"></span>
                                    </div>
                                    <div class="Slider rx-slider-custom">
                                        <div class="Slider-arrows">
                                            <div class="Slider-arrow Slider-arrow--left"><span
                                                    class="mlkicon-ArrowBack mlkicon-Arrow"></span></div>
                                            <div class="Slider-arrow Slider-arrow--right"><span
                                                    class="mlkicon-ArrowNext mlkicon-Arrow"></span></div>
                                        </div>
                                        <div class="Slider-nav"><button
                                                class="Slider-navButton Slider-navButton--active"></button><button
                                                class="Slider-navButton"></button><button
                                                class="Slider-navButton"></button><button
                                                class="Slider-navButton"></button><button
                                                class="Slider-navButton"></button><button
                                                class="Slider-navButton"></button><button
                                                class="Slider-navButton"></button></div>
                                        <div class="Slider-inner">
                                            <div class="Slider-single rx-slider-custom-single"
                                                style="width: 700%; transform: translateX(0%);">
                                                <!-- Add thumb -->
                                                <div class="rx-thumb"><img class=""
                                                    src="<%=product.image%>"
                                                        alt="" title="Hoa hồng"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-left-social">
                                    <div class="product-left-social-left"></div>
                                    <div class="product-left-social-right">
                                        <!-- react-text: 1906 -->Chia sẻ đến
                                        <!-- /react-text --><span></span></div>
                                </div>
                            </div>
                           
                            <div class="col-sm-lg col-sm-5">
                                <div class="content product-right">
                                    <div class="rxfigure-body-brand-inlist"><%=product.category%></div>
                                    <div class="rxname"><%=product.name%></div>
                                    <div class="clearfix">
                                        <div class="figure-body-rating-star">
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div class="rx-star-text">
                                                <!-- react-text: 1925 -->(
                                                <!-- /react-text -->
                                                <!-- react-text: 2140 -->0
                                                <!-- /react-text -->
                                                <!-- react-text: 1926 -->
                                                <!-- /react-text -->
                                                <!-- react-text: 1928 --> nhận xét)
                                                <!-- /react-text -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="rxprice-container">
                                        <div class="rxprice">
                                            <!-- react-text: 1932 --><%=product.price%>
                                            <!-- /react-text -->
                                            <!-- react-text: 1933 -->đ
                                            <!-- /react-text -->
                                        </div>
                                        <div></div>
                                    </div>
                                    <div></div>
                                    <div class="rx-quanty-order">
                                        <div class="rx-quanty-order-left">Số lượng:</div>
                                        <div class="rx-quanty-order-right">
                                            <div class="rx-quanty-order-right-head"></div>
                                            <div class="rx-quanty-order-right-body"><button>-</button><input
                                                    type="number" value="1" readonly=""
                                                    class="rx-quanty-input"><button>+</button></div>
                                        </div>
                                    </div>
                                    <div class="rx-action-order">
                                        <div class="rx-action-addcart-info">
                                            <!-- react-text: 1949 -->
                                            <!-- /react-text -->
                                            <!-- react-text: 1950 -->
                                            <!-- /react-text -->
                                        </div>
                                        <div class="rx-action-addcart-mainbox clearfix">
                                            <div class="rx-action-addcart rx-action-addcart-lg">Thêm vào giỏ hàng
                                            </div>
                                        </div>
                                        <div class="rx-action-favorite clearfix">
                                            <div>
                                                <div class="rx-heart-medium mlkicon-Heart"></div>
                                                <!-- react-text: 1956 --> Yêu thích sản phẩm
                                                <!-- /react-text -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                            <!-- sản phẩm cùng loại -->
                            <div class="col-sm-lg col-sm-3">
                                <div class="rx-product-relasted">
                                    <div class="rx-product-relasted-title">Sản phẩm cùng loại</div>
                                    <a href="">
                                            <div class="rx-product-relasted-content-post">
                                                <div class="rx-product-relasted-content-post-left"><img class=""
                                                    src="/template/images/products/product-1.png"
                                                        alt="" title=" "></div>
                                                <div class="rx-product-relasted-content-post-right">
                                                    <div class="rx-product-relasted-content-post-title">Hoa mai vàng
                                                    </div>
                                                    <div class="rx-product-relasted-content-post-price">
                                                        <!-- react-text: 2180 --> 100 000
                                                        <!-- /react-text -->
                                                        <!-- react-text: 2181 -->đ
                                                        <!-- /react-text --><span></span></div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="rx-product-relasted-content-post">
                                                <div class="rx-product-relasted-content-post-left"><img class=""
                                                    src="/template/images/products/product-1.png"
                                                        alt="" title=" "></div>
                                                <div class="rx-product-relasted-content-post-right">
                                                    <div class="rx-product-relasted-content-post-title">Hoa mai vàng
                                                    </div>
                                                    <div class="rx-product-relasted-content-post-price">
                                                        <!-- react-text: 2180 --> 100 000
                                                        <!-- /react-text -->
                                                        <!-- react-text: 2181 -->đ
                                                        <!-- /react-text --><span></span></div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                                <div class="rx-product-relasted-content-post">
                                                    <div class="rx-product-relasted-content-post-left"><img class=""
                                                        src="/template/images/products/product-1.png"
                                                            alt="" title=" "></div>
                                                    <div class="rx-product-relasted-content-post-right">
                                                        <div class="rx-product-relasted-content-post-title">Hoa mai vàng
                                                        </div>
                                                        <div class="rx-product-relasted-content-post-price">
                                                            <!-- react-text: 2180 --> 100 000
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2181 -->đ
                                                            <!-- /react-text --><span></span></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="">
                                                    <div class="rx-product-relasted-content-post">
                                                        <div class="rx-product-relasted-content-post-left"><img class=""
                                                            src="/template/images/products/product-1.png"
                                                                alt="" title=" "></div>
                                                        <div class="rx-product-relasted-content-post-right">
                                                            <div class="rx-product-relasted-content-post-title">Hoa mai vàng
                                                            </div>
                                                            <div class="rx-product-relasted-content-post-price">
                                                                <!-- react-text: 2180 --> 100 000
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2181 -->đ
                                                                <!-- /react-text --><span></span></div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="">
                                                        <div class="rx-product-relasted-content-post">
                                                            <div class="rx-product-relasted-content-post-left"><img class=""
                                                                src="/template/images/products/product-1.png"
                                                                    alt="" title=" "></div>
                                                            <div class="rx-product-relasted-content-post-right">
                                                                <div class="rx-product-relasted-content-post-title">Hoa mai vàng
                                                                </div>
                                                                <div class="rx-product-relasted-content-post-price">
                                                                    <!-- react-text: 2180 --> 100 000
                                                                    <!-- /react-text -->
                                                                    <!-- react-text: 2181 -->đ
                                                                    <!-- /react-text --><span></span></div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="">
                                                            <div class="rx-product-relasted-content-post">
                                                                <div class="rx-product-relasted-content-post-left"><img class=""
                                                                    src="/template/images/products/product-1.png"
                                                                        alt="" title=" "></div>
                                                                <div class="rx-product-relasted-content-post-right">
                                                                    <div class="rx-product-relasted-content-post-title">Hoa mai vàng
                                                                    </div>
                                                                    <div class="rx-product-relasted-content-post-price">
                                                                        <!-- react-text: 2180 --> 100 000
                                                                        <!-- /react-text -->
                                                                        <!-- react-text: 2181 -->đ
                                                                        <!-- /react-text --><span></span></div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="">
                                                                <div class="rx-product-relasted-content-post">
                                                                    <div class="rx-product-relasted-content-post-left"><img class=""
                                                                        src="/template/images/products/product-1.png"
                                                                            alt="" title=" "></div>
                                                                    <div class="rx-product-relasted-content-post-right">
                                                                        <div class="rx-product-relasted-content-post-title">Hoa mai vàng
                                                                        </div>
                                                                        <div class="rx-product-relasted-content-post-price">
                                                                            <!-- react-text: 2180 --> 100 000
                                                                            <!-- /react-text -->
                                                                            <!-- react-text: 2181 -->đ
                                                                            <!-- /react-text --><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="">
                                                                    <div class="rx-product-relasted-content-post">
                                                                        <div class="rx-product-relasted-content-post-left"><img class=""
                                                                            src="/template/images/products/product-1.png"
                                                                                alt="" title=" "></div>
                                                                        <div class="rx-product-relasted-content-post-right">
                                                                            <div class="rx-product-relasted-content-post-title">Hoa mai vàng
                                                                            </div>
                                                                            <div class="rx-product-relasted-content-post-price">
                                                                                <!-- react-text: 2180 --> 100 000
                                                                                <!-- /react-text -->
                                                                                <!-- react-text: 2181 -->đ
                                                                                <!-- /react-text --><span></span></div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="">
                                                                        <div class="rx-product-relasted-content-post">
                                                                            <div class="rx-product-relasted-content-post-left"><img class=""
                                                                                src="/template/images/products/product-1.png"
                                                                                    alt="" title=" "></div>
                                                                            <div class="rx-product-relasted-content-post-right">
                                                                                <div class="rx-product-relasted-content-post-title">Hoa mai vàng
                                                                                </div>
                                                                                <div class="rx-product-relasted-content-post-price">
                                                                                    <!-- react-text: 2180 --> 100 000
                                                                                    <!-- /react-text -->
                                                                                    <!-- react-text: 2181 -->đ
                                                                                    <!-- /react-text --><span></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                    <a href="">
                                                                            <div class="rx-product-relasted-content-post">
                                                                                <div class="rx-product-relasted-content-post-left"><img class=""
                                                                                    src="/template/images/products/product-1.png"
                                                                                        alt="" title=""></div>
                                                                                <div class="rx-product-relasted-content-post-right">
                                                                                    <div class="rx-product-relasted-content-post-title">Hoa mai vàng
                                                                                    </div>
                                                                                    <div class="rx-product-relasted-content-post-price">
                                                                                        <!-- react-text: 2180 --> 100 000
                                                                                        <!-- /react-text -->
                                                                                        <!-- react-text: 2181 -->đ
                                                                                        <!-- /react-text --><span></span></div>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-nopad-col product-detail-block" id="desc">
                        <div class="row row-nopad-col rx-pad-30">
                            <div class="col-md-6 rx-product-desc-col">
                                <div class="rx-product-desc-col-name">Mô tả sản phẩm</div>
                                <div>
                                    <p>Hoa hồng tươi mới</p>

                                    <p>Sử dụng trong dịp lễ Valentin<br>
                                        <br>
                                        Chất lượng sản phẩm tốt, hoa tươi sử dụng được từ 5 -7 ngày</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-nopad-col product-detail-block" id="review">
                        <div class="row row-nopad-col rx-pad-30" style="width: 100%;">
                            <div class="col-sm col-md-12">
                                <div>
                                    <div class="lk-product-reviews-title"></div>
                                    <div class="lk-reviews-start-main">
                                        <div class="lk-reviews-progress-start-position">
                                            <div class="lk-reviews-start">
                                                <div class="lk-reviews-start-title">Đánh giá trung bình</div>
                                                <div class="lk-reviews-start-divice">
                                                    <!-- react-text: 2141 -->0
                                                    <!-- /react-text -->
                                                    <!-- react-text: 1977 -->/5
                                                    <!-- /react-text -->
                                                </div>
                                                <div class="lk-reviews-start-icon clearfix">
                                                    <div>
                                                        <div class="rx-star-off-big"></div>
                                                    </div>
                                                    <div>
                                                        <div class="rx-star-off-big"></div>
                                                    </div>
                                                    <div>
                                                        <div class="rx-star-off-big"></div>
                                                    </div>
                                                    <div>
                                                        <div class="rx-star-off-big"></div>
                                                    </div>
                                                    <div>
                                                        <div class="rx-star-off-big"></div>
                                                    </div>
                                                </div>
                                                <div class="lk-reviews-start-command">
                                                    <!-- react-text: 1990 -->(
                                                    <!-- /react-text -->
                                                    <!-- react-text: 2142 -->0
                                                    <!-- /react-text -->
                                                    <!-- react-text: 1991 -->
                                                    <!-- /react-text -->
                                                    <!-- react-text: 1993 --> nhận xét)
                                                    <!-- /react-text -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lk-reviews-progress-center-position">
                                            <div class="lk-reviews-progress-start">
                                                <ul>
                                                    <li class="lk-list-product-rating-gui clearfix"><span
                                                            class="lk-list-product-rating-start">
                                                            <!-- react-text: 1999 -->5
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2000 -->
                                                            <!-- /react-text -->
                                                            <div class="rx-star"></div>
                                                        </span><span class="lk-list-rating-progress"><span
                                                                class="lk-list-rating-progress-bar"><span
                                                                    class="lk-list-rating-progress-bar-choosed"
                                                                    style="width: 0%;"></span></span></span><span
                                                            class="lk-list-product-rating-count">
                                                            <!-- react-text: 2006 -->0
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2007 -->%
                                                            <!-- /react-text --></span></li>
                                                    <li class="lk-list-product-rating-gui clearfix"><span
                                                            class="lk-list-product-rating-start">
                                                            <!-- react-text: 2010 -->4
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2011 -->
                                                            <!-- /react-text -->
                                                            <div class="rx-star"></div>
                                                        </span><span class="lk-list-rating-progress"><span
                                                                class="lk-list-rating-progress-bar"><span
                                                                    class="lk-list-rating-progress-bar-choosed"
                                                                    style="width: 0%;"></span></span></span><span
                                                            class="lk-list-product-rating-count">
                                                            <!-- react-text: 2017 -->0
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2018 -->%
                                                            <!-- /react-text --></span></li>
                                                    <li class="lk-list-product-rating-gui clearfix"><span
                                                            class="lk-list-product-rating-start">
                                                            <!-- react-text: 2021 -->3
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2022 -->
                                                            <!-- /react-text -->
                                                            <div class="rx-star"></div>
                                                        </span><span class="lk-list-rating-progress"><span
                                                                class="lk-list-rating-progress-bar"><span
                                                                    class="lk-list-rating-progress-bar-choosed"
                                                                    style="width: 0%;"></span></span></span><span
                                                            class="lk-list-product-rating-count">
                                                            <!-- react-text: 2028 -->0
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2029 -->%
                                                            <!-- /react-text --></span></li>
                                                    <li class="lk-list-product-rating-gui clearfix"><span
                                                            class="lk-list-product-rating-start">
                                                            <!-- react-text: 2032 -->2
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2033 -->
                                                            <!-- /react-text -->
                                                            <div class="rx-star"></div>
                                                        </span><span class="lk-list-rating-progress"><span
                                                                class="lk-list-rating-progress-bar"><span
                                                                    class="lk-list-rating-progress-bar-choosed"
                                                                    style="width: 0%;"></span></span></span><span
                                                            class="lk-list-product-rating-count">
                                                            <!-- react-text: 2039 -->0
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2040 -->%
                                                            <!-- /react-text --></span></li>
                                                    <li class="lk-list-product-rating-gui clearfix"><span
                                                            class="lk-list-product-rating-start">
                                                            <!-- react-text: 2043 -->1
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2044 -->
                                                            <!-- /react-text -->
                                                            <div class="rx-star"></div>
                                                        </span><span class="lk-list-rating-progress"><span
                                                                class="lk-list-rating-progress-bar"><span
                                                                    class="lk-list-rating-progress-bar-choosed"
                                                                    style="width: 0%;"></span></span></span><span
                                                            class="lk-list-product-rating-count">
                                                            <!-- react-text: 2050 -->0
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2051 -->%
                                                            <!-- /react-text --></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lk-reviews-function-command">
                                            <div class="lk-reviews-function-command-title">Nhận xét về sản phẩm
                                            </div>
                                            <div class="lk-reviews-function-command-width lk-reviews-function-btn">
                                                Viết đánh giá</div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div class="lk-reviews-main-box clearfix">
                                            <div class="lk-reviews-main-title-select">Chọn xem nhận xét</div>
                                            <div class="lk-reviews-line-start">
                                                <div class="lk-reviews-line-start-score"><select
                                                        class="fullwidth-input">
                                                        <option value="0">Tất cả khách hàng</option>
                                                        <option value="1">Khách hàng đã mua sản phẩm</option>
                                                        <option value="2">Khách hàng chưa mua sản phẩm</option>
                                                    </select></div>
                                                <div class="lk-reviews-line-start-score"><select
                                                        class="fullwidth-input">
                                                        <option value="0">Tất cả sao</option>
                                                        <option value="1">1 sao</option>
                                                        <option value="2">2 sao</option>
                                                        <option value="3">3 sao</option>
                                                        <option value="4">4 sao</option>
                                                        <option value="5">5 sao</option>
                                                    </select></div>
                                            </div>
                                        </div>
                                        <div class="admin-table-pagination admin-pagin-right">
                                            <div class="pagin-curr">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-nopad-col product-detail-block" id="faq">
                        <div class="row row-nopad-col rx-pad-30 rx-product-faq">
                            <div class="rx-product-faq-title">Câu hỏi thường gặp</div>
                            <div>
                                <div class="rx-product-faq-quest">
                                    <!-- react-text: 2145 -->Q:
                                    <!-- /react-text -->
                                    <!-- react-text: 2146 -->Tôi muốn mua trả góp thì làm thế nào?
                                    <!-- /react-text -->
                                </div>
                                <div class="rx-product-faq-anwser">
                                    <p>A: Hđtm hiện áp dụng 2 hình thức trả góp. Quý khách có thể tham khảo chi
                                        tiết: - Trả góp 0% bằng thẻ tín dụng trong 6 tháng với sản phẩm từ 3 triệu
                                        đồng. Chi tiết tại: https://Hđtm.vn/lp/tra-gop - Trả góp tiêu dùng trong 12
                                        tháng, trả trước 10% giá trị sản phẩm. Chi tiết tại:
                                        https://Hđtm.vn/lp/mua-tra-gop</p>
                                </div>
                            </div>
                            <div>
                                <div class="rx-product-faq-quest">
                                    <!-- react-text: 2150 -->Q:
                                    <!-- /react-text -->
                                    <!-- react-text: 2151 -->Thời gian giao hàng trong bao lâu?
                                    <!-- /react-text -->
                                </div>
                                <div class="rx-product-faq-anwser">
                                    <p>A:Đối với khu vực HCM và Hà Nội thời gian giao từ 1 - 3 ngày (không tính Chủ
                                        nhật và ngày lễ). Các tỉnh thành còn lại giao từ 3 - 7 ngày (không tính Chủ
                                        nhật và ngày lễ).</p>
                                </div>
                            </div>
                            <div>
                                <div class="rx-product-faq-quest">
                                    <!-- react-text: 2155 -->Q:
                                    <!-- /react-text -->
                                    <!-- react-text: 2156 -->Sản phẩm này có phải là hàng chính hãng hay không? Bảo
                                    hành như thế nào?
                                    <!-- /react-text -->
                                </div>
                                <div class="rx-product-faq-anwser">
                                    <p>A:Các sản phẩm âm thanh Hđtm bán cam kết chính hãng 100%, và đều được bảo
                                        hành tại các trung tâm bảo hành của hãng trên toàn quốc. Hoặc Khách hàng có
                                        thể liên hệ với Hđtm để được hỗ trợ nhanh nhất.</p>
                                </div>
                            </div>
                            <div>
                                <div class="rx-product-faq-quest">
                                    <!-- react-text: 2160 -->Q:
                                    <!-- /react-text -->
                                    <!-- react-text: 2161 -->Tôi có thể nhận hàng rồi thanh toán? Có được đổi trả
                                    hàng khi bị lỗi kỹ thuật?
                                    <!-- /react-text -->
                                </div>
                                <div class="rx-product-faq-anwser">
                                    <p>A:Đối với đơn hàng từ 50 triệu trở xuống Khách hàng hoàn toàn có thể nhận và
                                        kiểm tra hàng rồi mới thanh toán. Trong 7 ngày tính từ ngày Khách hàng mua
                                        nếu phát sinh lỗi kỹ thuật từ nhà sản xuất Hđtm sẽ đổi mới hoàn toàn.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--  --> f

<!--  -->

<% include ../../partials/footer.ejs %>