<% include ../../partials/head.ejs %>
<% include ../../partials/header.ejs %>

<!-- List product-->
<main class="container main-container" data-reactid="108">    
    <div class="container--grey">
        <div class="container">
            <div class="rx-main-page-search">
                <div class="rx-category rx-category-inlist ">
                    <div class="rx-categories rx-categories-inlist rx-categories-filtered ">
                        <div class="rx-categories-header-inlist">
                            <!-- react-text: 2968 -->Bộ lọc sản phẩm
                            <!-- /react-text -->
                            <span class="rx-mobile-show icon-pencil icons"></span></div>
                        <div class="rx-categories-filtered-content">
                            <div class="rx-search-filtered-number">
                                <!-- react-text: 2972 -->Có
                                <!-- /react-text --><b>44</b><!-- react-text: 2974 --> sản phẩm được tìm thấy
                                <!-- /react-text -->
                            </div>
                            <div class="rx-search-name-detail"><span></span></div>
                            <div class="rx-filtered-group clearfix"><span
                                    class="rx-active rx-filtered-color rx-filtered-label">
                                    <!-- react-text: 2979 -->Hoa hồng
                                    <!-- /react-text -->
                                    <!-- react-text: 2980 -->
                                    <!-- /react-text --><span class="rx-filtered-label-delete">x</span></span></div>
                            <div class="rx-filtered-group clearfix">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="rx-categories rx-categories-inlist">
                        <div class="rx-categories-header-inlist">
                            <!-- react-text: 2987 -->Danh mục sản phẩm
                            <!-- /react-text --><span class="mlkicon-Plus rxmlkiconPlus"></span>
                            <div class="rx-cat-bg">
                                <div class="search-categories-item rx-active"><a href="">Tất cả danh mục</a>
                                </div>
                                <div class="search-categories-item "><a href="">Hoa Hồng </a></div>
                                <div class="search-categories-item "><a href="">Hoa Tuylip</a></div>
                                <div class="search-categories-item "><a href="">Hoa cúc</a></div>
                                <div class="search-categories-item "><a href="">Hoa Cát Tường</a></div>
                                <div class="search-categories-item "><a href="">Hoa Cẩm Tú Cầu </a></div>
                                <div class="search-categories-item "><a href="">Hoa Thanh Anh</a></div>
                                <div class="search-categories-item "><a href="">Hoa Ly</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="rx-categories rx-categories-inlist">
                        <div class="rx-filter-container">
                            <div class="rx-filter-title">
                                <!-- react-text: 2993 -->Giá
                                <!-- /react-text --><i>(VNĐ)</i><span class="mlkicon-Minus rxmlkiconPlus"></span></div>
                            <div class="rx-filter-body clearfix rx-filter-price">
                                <div aria-disabled="false" class="input-range"><span
                                        class="input-range__label input-range__label--min"><span
                                            class="input-range__label-container">100</span></span>
                                    <div class="input-range__track input-range__track--background">
                                        <div class="input-range__track input-range__track--active"
                                            style="left: 0%; width: 100%;"></div>
                                        <span class="input-range__slider-container"
                                            style="position: absolute; left: 0%;"><span
                                                class="input-range__label input-range__label--value"><span
                                                    class="input-range__label-container">100</span></span>
                                            <div aria-valuemax="10000" aria-valuemin="100" aria-valuenow="100"
                                                class="input-range__slider" draggable="false" role="slider"
                                                tabindex="0"></div>
                                        </span><span class="input-range__slider-container"
                                            style="position: absolute; left: 100%;"><span
                                                class="input-range__label input-range__label--value"><span
                                                    class="input-range__label-container">10000</span></span>
                                            <div aria-valuemax="10000" aria-valuemin="100" aria-valuenow="10000"
                                                class="input-range__slider" draggable="false" role="slider"
                                                tabindex="0"></div>
                                        </span>
                                    </div><span class="input-range__label input-range__label--max"><span
                                            class="input-range__label-container">10000</span></span>
                                </div>
                            </div>
                            <div class="rx-filter-title">
                                <!-- react-text: 2998 -->Màu sắc
                                <!-- /react-text --><span class="mlkicon-Minus rxmlkiconPlus"></span></div>
                            <div class="rx-filter-body clearfix rx-filter-color">
                                <div class="rx-filter-option">
                                    <div class="rx-filter-option-choose"><span class="filter-input"></span>
                                        <!-- react-text: 6414 -->Đỏ
                                        <!-- /react-text -->
                                    </div>
                                </div>
                                <div class="rx-filter-option">
                                    <div class="rx-filter-option-choose"><span class="filter-input"></span>
                                        <!-- react-text: 6418 -->Tím
                                        <!-- /react-text -->
                                    </div>
                                </div>
                                <div class="rx-filter-option">
                                    <div class="rx-filter-option-choose"><span class="filter-input"></span>
                                        <!-- react-text: 6422 -->Trắng
                                        <!-- /react-text -->
                                    </div>
                                </div>
                                <div class="rx-filter-option">
                                    <div class="rx-filter-option-choose"><span class="filter-input"></span>
                                        <!-- react-text: 6426 -->Hồng
                                        <!-- /react-text -->
                                    </div>
                                </div>
                                <div class="rx-filter-option">
                                    <div class="rx-filter-option-choose"><span class="filter-input"></span>
                                        <!-- react-text: 6430 -->Xanh
                                        <!-- /react-text -->
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="rx-filter-title">
                            <!-- react-text: 3002 -->Kích thước
                            <!-- /react-text --><span class="mlkicon-Minus rxmlkiconPlus"></span></div>
                        <div class="rx-filter-body clearfix">
                            <div class="rx-filter-option">
                                <div class="rx-filter-option-choose"><span class="filter-input"></span>
                                    <!-- react-text: 6450 -->L
                                    <!-- /react-text -->
                                </div>
                            </div>
                            <div class="rx-filter-option">
                                <div class="rx-filter-option-choose"><span class="filter-input"></span>
                                    <!-- react-text: 6454 -->M
                                    <!-- /react-text -->
                                </div>
                            </div>
                            <div class="rx-filter-option">
                                <div class="rx-filter-option-choose"><span class="filter-input"></span>
                                    <!-- react-text: 6458 -->S
                                    <!-- /react-text -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="rx-product-list-container" style="margin-left: 50px">
                <div class="rx-product-list-inner">
                    <div class="rx-cat-title">Tất cả sản phẩm</div>
                    <div class="rx-cat-sorting clearfix">
                        <div class="rx-cat-sorting-name"><i>Sắp xếp theo</i><select class="select-search-category">
                                <option value="created_at:desc">Tất cả</option>
                                <option class="rx-active" value="created_at:desc">Hàng mới về</option>
                                <option class="" value="sold:desc">Bán chạy</option>
                                <option class="" value="price:asc">Giá tăng dần</option>
                                <option class="" value="price:desc">Giá giảm dần</option>
                            </select></div>
                        <div class="rx-cat-pagin rxhidden"><span class="mlkicon-Left btn-backs"></span><span
                                class="rx-active">1</span><span>2</span><span class="mlkicon-Right btn-nexts"></span>
                        </div>
                    </div>
                    <!-- *********************** -->
                    <!-- Multipe product per a sreen:-->
                    <div class="row rx-cat-product">
                        <!-- Single item: item 1 -->
                        <% list.forEach(function(product){ %>
                            <div class="rx-product-item col-sm-lg col-sm-3 show">
                                <div class="rx-product-figure">
                                    <div class="rx-product-figure-header"><a href="/detail-a-product"><img class=""
                                                src="<%=product.image%>"" alt="" title=""></a>
                                    </div>
                                    <div class="rx-product-figure-body">
                                        <div class="figure-body-brand-inlist"><%=product.category_detail[0].name%></div>
                                        <div class="figure-body-title"><%=product.name%></div>
                                        <div class="rx-relative">
                                            <div class="figure-body-price">
                                                <!-- react-text: 6175 --><%=product.price%>
                                                <!-- /react-text -->
                                                <!-- react-text: 6176 --> đ
                                                <!-- /react-text -->
                                            </div>
                                            <div class="figure-body-freeship"></div>
                                        </div>
                                        <div class="figure-body-rating-star">
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div class="rx-star-text">
                                                <!-- react-text: 6190 -->(
                                                <!-- /react-text -->
                                                <!-- react-text: 6191 -->0
                                                <!-- /react-text -->
                                                <!-- react-text: 6192 -->)
                                                <!-- /react-text -->
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="rx-product-action"><a href="/detail-a-product">
                                            <div class="rx-action-like"></div>
                                            <div class="rx-action-card"></div>
                                            <div class="rx-action-addcart">Mua ngay</div>
                                    </div>
                                </div>
                            </div>   
                          <% }); %>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="rx-cat-sorting clearfix martop20">
                        <div class="rx-cat-pagin"><span class="mlkicon-Left btn-backs"></span><span
                                class="rx-active">1</span><span>2</span><span class="mlkicon-Right btn-nexts"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<!--  -->

<% include ../../partials/footer.ejs %>